<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.example.demo.modules.membership.mapper.CouponMapper">

    <update id="decreaseAmount">
        update coupon_template set full_amount=full_amount-1 where id=#{id} and full_amount > 0
    </update>
    <select id="getMyCoupons" resultType="com.example.demo.modules.membership.dto.CouponDTO">
        select mc.member_id,
               mc.template_id,
               mc.status,
               mc.verification_code,
               mc.receive_time,
               mc.use_time,
               ct.*
        from member_coupon mc
        inner join coupon_template ct
        on mc.template_id = mc.id
        where mc.member_id=#{memberId}
    </select>

</mapper>
